// Define Gruvbox color variables
$bg-color: #282828;
$card-background: #3c3836;
$main-text-color: #ebdbb2;
$accent-color: #d79921;
$light-accent-color: #fabd2f;
$dark-accent-color: #b57614;
$link-color: #83a598;
$link-hover-color: #8ec07c;
$header-footer-bg: #3c3836;
$border-color: #504945;
$meta-text-color: #bdae93;

$bright-orange:  #fe8019;
$bright-blue: #83a598;

$text-link: $bright-blue;
$text-a: $bright-orange;
$text-a-hover: $bright-blue;