// Define Gruvbox color variables
$bg-color: #282828;
$card-background: #3c3836;
$main-text-color: #ebdbb2;
$accent-color: #d79921;
$light-accent-color: #fabd2f;
$dark-accent-color: #b57614;
$link-color: #83a598;
$link-hover-color: #8ec07c;
$header-footer-bg: #3c3836;
$border-color: #504945;
$meta-text-color: #bdae93;

$bright-orange:  #fe8019;
$bright-blue: #83a598;

$text-link: $bright-blue;
$text-a: $bright-orange;
$text-a-hover: $bright-blue;

// Apply base styles
body {
    background-color: $bg-color;
    color: $main-text-color;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0px;
}

a {
    color: $text-a;
    text-decoration: none;
    &:hover {
        color: $text-a-hover;
    }
}

header, footer {
    background-color: $header-footer-bg;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;

    li {
        display: inline;
        margin: 0 10px;

        a {
            color: $light-accent-color;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
  color: $accent-color;
}

main {
    padding: 20px;
    
    article {
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: $card-background;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 0 10px 0 10px;
        
        h2 {
            color: $accent-color;
        }

        .date {
            color: $dark-accent-color;
        }
    }
}

footer {
    p {
        color: $light-accent-color;
    }
}


.cards-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card {
    background-color: $card-background;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.2s;
    color: $main-text-color;
  
    &:hover {
      transform: scale(1.02);
    }
  
    h2 {
      margin-top: 0;
    }
  
    .post-meta {
      color: $meta-text-color;
      font-size: 0.9em;
      margin: 10px 0;
    }
  
    .post-snippet {
      color: $main-text-color;
    }
  }

  .post-footer {
    padding-top: 20px;
    border-top: 1px solid $border-color;
    margin-top: 40px;
  }
  
  .post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .previous-post,
  .next-post {
    font-size: 1em;
  }
  
  .previous-post a,
  .next-post a {
    color: $link-color;
    text-decoration: none;
  
    &:hover {
      color: $link-hover-color;
    }
  }